html {
    /* background-image: url('bg.svg');
    background-position: center bottom; 
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    width: 100vw;
    height: 100vh; */
    background-color: #333333;
}


#video {
    display: block;
    margin: 0 auto;
    margin-top: 10em;
    animation: video-animatie 1.2s 1;
}

@keyframes video-animatie {
  0%   { opacity: 0%; }
  100% { opacity: 100%; }
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: auto;
    margin-top: 0px;
    position: absolute;
    left: 20px;
    top: 0px;
}

div img {
    width: 150px;
    cursor: pointer;
    transition: all .2s ease-in-out;
    margin: 0 50px;
    animation: knop-animatie 1.2s 1;
    margin: 1.5rem;
}

@keyframes knop-animatie {
  0%   { opacity: 0%; margin: 0px}
  50%   { opacity: 0%; margin: 0px}
  100% { opacity: 100%; margin: 0 50px}
}

div img:hover{
    transform: scale(1.2);    
}